.vs
.vscode
/SmartHomeServer/bin
/SmartHomeServer/obj
/Business/bin
/Business/obj
/Core/bin
/Core/obj
/DataAccess/bin
/DataAccess/obj
/DataAccess/Migrations
/DataAccess/Contexts/ConnectionStrings.cs
/Entities/bin
/Entities/obj
/TelegramBotCore/bin
/TelegramBotCore/obj
TestAround

/TelegramBotWebApi/appsettings.json
/TelegramBotWebApi/appsettings.Development.json
/TelegramBotWebApi/log4net.config
/Core/Utilities/FTP/Concrete/FTPModule.cs